PORT=3000

MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/schoolmed

JWT_SECRET=coloca_una_clave_larga_y_segura
JWT_EXPIRES_IN=1d

BREVO_API_KEY=tu_api_key_de_brevo
BREVO_SENDER_EMAIL=tu_correo_verificado_en_brevo
BREVO_SENDER_NAME=SchoolMed

TEST_EMAIL=correo_para_pruebas@example.com
