PORT=3000

MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/schoolmed

JWT_SECRET=coloca_una_clave_larga_y_segura
JWT_EXPIRES_IN=1d

BREVO_API_KEY=tu_api_key_de_brevo
BREVO_SENDER_EMAIL=tu_correo_verificado_en_brevo
BREVO_SENDER_NAME=SchoolMed

AWS_ACCESS_KEY_ID=tu_access_key_de_aws
AWS_SECRET_ACCESS_KEY=tu_secret_key_de_aws
AWS_REGION=us-east-1
AWS_REKOGNITION_COLLECTION_ID=schoolmed-acudientes
FACE_MATCH_MIN_SIMILARITY=95
FACE_VERIFICATION_TTL_SECONDS=300

TEST_EMAIL=correo_para_pruebas@example.com
