PORT=3000

MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/schoolmed

JWT_SECRET=coloca_una_clave_larga_y_segura
JWT_EXPIRES_IN=1d

SMTP_HOST=smtp-relay-offshore-southamerica-east-v2.sendinblue.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_login_smtp_de_brevo
SMTP_PASS=tu_smtp_key_de_brevo
MAIL_FROM=tu_correo_verificado_en_brevo

TEST_EMAIL=correo_para_pruebas@example.com
